    mpls:
      admin-state: enable      
      interface:
       - interface-name: system
{% for interface in host.data.iface_list%}
{% if "MPLS" in interface.tags  %}              
       - interface-name: {{ interface.description }}
{% endif %}
{% endfor %}


