policy-options:
    policy-statement:
        - name: IMPORT-ALL
          entry:
              entry-id: 10
              action:
                  action-type: "accept"
        - name: EXPORT-ALL
          entry:
              entry-id: 10
              action:
                  action-type: "accept"
