port:
  - port-id: "1/1/c1"
    admin-state: enable
    connector:
      breakout: c4-10g

{% for interface in host.data.iface_list  %}
{% if interface.name != "Management0" and interface.name != "system" %}
  - port-id: {{ interface.name }}
    admin-state: enable     
    ethernet:
      mode: network      
      mtu: 9192      
      lldp:
        dest-mac:
          - mac-type: nearest-bridge
            notification: true
            receive: true
            transmit: true
            tx-tlvs:
              port-desc: true
              sys-name: true
              sys-desc: true
              sys-cap: true
            tx-mgmt-address:
              - mgmt-address-system-type: system-ipv6
                admin-state: enable


{% endif %}
{% endfor %}
